@for $i from 1 to length($category-colors) + 1 {
	.category-#{$i} {
		.card {
			.card-colored-side {
				background-color: nth($category-colors, $i);
			}

			.card-title {
				h1 {
					color: nth($category-colors, $i);
				}
			}
		}

		.card-bookmark {
			&:hover{
				&:before {
					border-right: 10px solid darken(nth($category-colors, $i), 15%);
				}

				background-color: nth($category-colors, $i);


			}
		}

		&.bookmarked {
			.card-bookmark {
				height: 35px;
				background-color: nth($category-colors, $i);

				&:before {
					border-right: 10px solid darken(nth($category-colors, $i), 15%);
				}

				&:hover{
					&:before {
						border-right: 10px solid darken(nth($category-colors, $i), 30%);
					}

					background-color: darken(nth($category-colors, $i), 15%);
				}
			}
		}

    .radio_indicator {
      background-color: nth($category-colors, $i);
    }
	}
}
