/*
1. Cards
2. Colors
3. radio-color
*/
/*1. Cards*/
/*2. Colors*/
/*3. Radio-Color*/
/*
1. Linear Gradient
2. Transition
*/
/*
1. Linear Gradient
*/
/*
2. Transition
*/
.card-space {
  height: 160px;
  margin-bottom: 25px;
  position: relative;
}

.card-space .card {
  display: block;
  background-color: #fff;
  border-radius: 4px;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.card-space .card:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 100%;
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #fff 60%, #fff);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #fff 60%, #fff);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFFFFF', endColorstr='#FFFFFFFF', GradientType=1);
}

.card-space .card .card-colored-side {
  width: 7px;
  height: 100%;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.card-space .card .card-divider {
  position: absolute;
  left: 80px;
  top: 10px;
  width: 1px;
  height: calc(100% - 20px);
  background: #ECECEC;
}

.card-space .card .card-title {
  position: absolute;
  left: 90px;
  top: 20px;
  width: 300px;
  white-space: nowrap;
}

.card-space .card .card-title h3 {
  margin: 0 0 5px;
  font-size: 14px;
  color: #555A5F;
}

.card-space .card .card-title h1 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.card-space .card .card-stats {
  position: absolute;
  top: 110px;
  text-transform: uppercase;
  white-space: nowrap;
}

.card-space .card .card-stats h4 {
  color: #B5B5B5;
  font-size: 12px;
  margin: 0 0 2px;
}

.card-space .card .card-stats p {
  font-size: 14px;
  color: #ADADAD;
  font-weight: bold;
  margin: 0;
}

.card-space .card .card-stage {
  left: 20px;
}

.card-space .card .card-stage h4 {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.card-space .card .card-stage p {
  text-align: center;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.card-space .card .card-category {
  left: 90px;
  width: 90px;
  overflow: hidden;
}

.card-space .card .card-category:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 100%;
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #fff 60%, #fff);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #fff 60%, #fff);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFFFFF', endColorstr='#FFFFFFFF', GradientType=1);
}

.card-space .card .card-difficulty {
  left: 185px;
}

.card-space .card:hover .card-colored-side {
  width: 80px;
}

.card-space .card:hover .card-stage h4 {
  color: rgba(255, 255, 255, 0.8);
}

.card-space .card:hover .card-stage p {
  color: #fff;
}

.card-space .card-bookmark {
  background-color: #ADADAD;
  height: 25px;
  position: absolute;
  top: -3px;
  right: 20px;
  width: 20px;
  -webkit-transition: height 0.5s, background-color 0.5s;
  transition: height 0.5s, background-color 0.5s;
}

.card-space .card-bookmark:before {
  content: '';
  border-top: 3px solid transparent;
  border-right: 10px solid #878787;
  position: absolute;
  top: 0;
  left: -10px;
  -webkit-transition: border-right 1;
  transition: border-right 1;
}

.card-space .card-bookmark:after {
  content: '';
  border: 10px solid transparent;
  border-bottom-color: #fff;
  position: absolute;
  bottom: 0;
}

.card-space .card-bookmark:hover {
  height: 35px;
}

.radio-color {
  display: inline-block;
  cursor: pointer;
  margin: 0 10px 10px 0;
  position: relative;
}

.radio-color input[type="radio"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radio_indicator {
  border-radius: 3px;
  height: 34px;
  width: 34px;
}

.radio_indicator:after {
  content: '';
  position: absolute;
  display: none;
  left: 14px;
  top: 9px;
  width: 7px;
  height: 14px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}

.radio-color input[type="radio"]:checked ~ .radio_indicator:after {
  display: block;
}

.category-1 .card .card-colored-side {
  background-color: #0079BF;
}

.category-1 .card .card-title h1 {
  color: #0079BF;
}

.category-1 .card-bookmark:hover {
  background-color: #0079BF;
}

.category-1 .card-bookmark:hover:before {
  border-right: 10px solid #004973;
}

.category-1.bookmarked .card-bookmark {
  height: 35px;
  background-color: #0079BF;
}

.category-1.bookmarked .card-bookmark:before {
  border-right: 10px solid #004973;
}

.category-1.bookmarked .card-bookmark:hover {
  background-color: #004973;
}

.category-1.bookmarked .card-bookmark:hover:before {
  border-right: 10px solid #001826;
}

.category-1 .radio_indicator {
  background-color: #0079BF;
}

.category-2 .card .card-colored-side {
  background-color: #1BBC9B;
}

.category-2 .card .card-title h1 {
  color: #1BBC9B;
}

.category-2 .card-bookmark:hover {
  background-color: #1BBC9B;
}

.category-2 .card-bookmark:hover:before {
  border-right: 10px solid #117964;
}

.category-2.bookmarked .card-bookmark {
  height: 35px;
  background-color: #1BBC9B;
}

.category-2.bookmarked .card-bookmark:before {
  border-right: 10px solid #117964;
}

.category-2.bookmarked .card-bookmark:hover {
  background-color: #117964;
}

.category-2.bookmarked .card-bookmark:hover:before {
  border-right: 10px solid #08362d;
}

.category-2 .radio_indicator {
  background-color: #1BBC9B;
}

.category-3 .card .card-colored-side {
  background-color: #444444;
}

.category-3 .card .card-title h1 {
  color: #444444;
}

.category-3 .card-bookmark:hover {
  background-color: #444444;
}

.category-3 .card-bookmark:hover:before {
  border-right: 10px solid #1e1e1e;
}

.category-3.bookmarked .card-bookmark {
  height: 35px;
  background-color: #444444;
}

.category-3.bookmarked .card-bookmark:before {
  border-right: 10px solid #1e1e1e;
}

.category-3.bookmarked .card-bookmark:hover {
  background-color: #1e1e1e;
}

.category-3.bookmarked .card-bookmark:hover:before {
  border-right: 10px solid black;
}

.category-3 .radio_indicator {
  background-color: #444444;
}

.category-4 .card .card-colored-side {
  background-color: #4b7d2f;
}

.category-4 .card .card-title h1 {
  color: #4b7d2f;
}

.category-4 .card-bookmark:hover {
  background-color: #4b7d2f;
}

.category-4 .card-bookmark:hover:before {
  border-right: 10px solid #2a451a;
}

.category-4.bookmarked .card-bookmark {
  height: 35px;
  background-color: #4b7d2f;
}

.category-4.bookmarked .card-bookmark:before {
  border-right: 10px solid #2a451a;
}

.category-4.bookmarked .card-bookmark:hover {
  background-color: #2a451a;
}

.category-4.bookmarked .card-bookmark:hover:before {
  border-right: 10px solid #080e05;
}

.category-4 .radio_indicator {
  background-color: #4b7d2f;
}

.category-5 .card .card-colored-side {
  background-color: #500752;
}

.category-5 .card .card-title h1 {
  color: #500752;
}

.category-5 .card-bookmark:hover {
  background-color: #500752;
}

.category-5 .card-bookmark:hover:before {
  border-right: 10px solid #0b010c;
}

.category-5.bookmarked .card-bookmark {
  height: 35px;
  background-color: #500752;
}

.category-5.bookmarked .card-bookmark:before {
  border-right: 10px solid #0b010c;
}

.category-5.bookmarked .card-bookmark:hover {
  background-color: #0b010c;
}

.category-5.bookmarked .card-bookmark:hover:before {
  border-right: 10px solid black;
}

.category-5 .radio_indicator {
  background-color: #500752;
}

.category-6 .card .card-colored-side {
  background-color: #5d4329;
}

.category-6 .card .card-title h1 {
  color: #5d4329;
}

.category-6 .card-bookmark:hover {
  background-color: #5d4329;
}

.category-6 .card-bookmark:hover:before {
  border-right: 10px solid #281d12;
}

.category-6.bookmarked .card-bookmark {
  height: 35px;
  background-color: #5d4329;
}

.category-6.bookmarked .card-bookmark:before {
  border-right: 10px solid #281d12;
}

.category-6.bookmarked .card-bookmark:hover {
  background-color: #281d12;
}

.category-6.bookmarked .card-bookmark:hover:before {
  border-right: 10px solid black;
}

.category-6 .radio_indicator {
  background-color: #5d4329;
}

.category-7 .card .card-colored-side {
  background-color: #8892BF;
}

.category-7 .card .card-title h1 {
  color: #8892BF;
}

.category-7 .card-bookmark:hover {
  background-color: #8892BF;
}

.category-7 .card-bookmark:hover:before {
  border-right: 10px solid #5865a3;
}

.category-7.bookmarked .card-bookmark {
  height: 35px;
  background-color: #8892BF;
}

.category-7.bookmarked .card-bookmark:before {
  border-right: 10px solid #5865a3;
}

.category-7.bookmarked .card-bookmark:hover {
  background-color: #5865a3;
}

.category-7.bookmarked .card-bookmark:hover:before {
  border-right: 10px solid #3d4671;
}

.category-7 .radio_indicator {
  background-color: #8892BF;
}

.category-8 .card .card-colored-side {
  background-color: #CC342D;
}

.category-8 .card .card-title h1 {
  color: #CC342D;
}

.category-8 .card-bookmark:hover {
  background-color: #CC342D;
}

.category-8 .card-bookmark:hover:before {
  border-right: 10px solid #8d241f;
}

.category-8.bookmarked .card-bookmark {
  height: 35px;
  background-color: #CC342D;
}

.category-8.bookmarked .card-bookmark:before {
  border-right: 10px solid #8d241f;
}

.category-8.bookmarked .card-bookmark:hover {
  background-color: #8d241f;
}

.category-8.bookmarked .card-bookmark:hover:before {
  border-right: 10px solid #4f1411;
}

.category-8 .radio_indicator {
  background-color: #CC342D;
}

.category-9 .card .card-colored-side {
  background-color: #F2D600;
}

.category-9 .card .card-title h1 {
  color: #F2D600;
}

.category-9 .card-bookmark:hover {
  background-color: #F2D600;
}

.category-9 .card-bookmark:hover:before {
  border-right: 10px solid #a69200;
}

.category-9.bookmarked .card-bookmark {
  height: 35px;
  background-color: #F2D600;
}

.category-9.bookmarked .card-bookmark:before {
  border-right: 10px solid #a69200;
}

.category-9.bookmarked .card-bookmark:hover {
  background-color: #a69200;
}

.category-9.bookmarked .card-bookmark:hover:before {
  border-right: 10px solid #594f00;
}

.category-9 .radio_indicator {
  background-color: #F2D600;
}

.category-10 .card .card-colored-side {
  background-color: #FD5B03;
}

.category-10 .card .card-title h1 {
  color: #FD5B03;
}

.category-10 .card-bookmark:hover {
  background-color: #FD5B03;
}

.category-10 .card-bookmark:hover:before {
  border-right: 10px solid #b24001;
}

.category-10.bookmarked .card-bookmark {
  height: 35px;
  background-color: #FD5B03;
}

.category-10.bookmarked .card-bookmark:before {
  border-right: 10px solid #b24001;
}

.category-10.bookmarked .card-bookmark:hover {
  background-color: #b24001;
}

.category-10.bookmarked .card-bookmark:hover:before {
  border-right: 10px solid #662401;
}

.category-10 .radio_indicator {
  background-color: #FD5B03;
}

.category-11 .card .card-colored-side {
  background-color: #FF6B6E;
}

.category-11 .card .card-title h1 {
  color: #FF6B6E;
}

.category-11 .card-bookmark:hover {
  background-color: #FF6B6E;
}

.category-11 .card-bookmark:hover:before {
  border-right: 10px solid #ff1f23;
}

.category-11.bookmarked .card-bookmark {
  height: 35px;
  background-color: #FF6B6E;
}

.category-11.bookmarked .card-bookmark:before {
  border-right: 10px solid #ff1f23;
}

.category-11.bookmarked .card-bookmark:hover {
  background-color: #ff1f23;
}

.category-11.bookmarked .card-bookmark:hover:before {
  border-right: 10px solid #d10004;
}

.category-11 .radio_indicator {
  background-color: #FF6B6E;
}

/*# sourceMappingURL=cinnova.css.map */
