///////////////////////
///    VARIABLES    ///
///////////////////////

/*
1. Cards
2. Colors
3. radio-color
*/


/*1. Cards*/

$card-color: #fff;
$card-bookmark-color: #ADADAD;

/*2. Colors*/

$category-colors: #0079BF, #1BBC9B, #444444, #4b7d2f, #500752,
                  #5d4329, #8892BF, #CC342D, #F2D600, #FD5B03,
                  #FF6B6E;

/*3. Radio-Color*/

$check-color: #fff;
