///////////////////////
///    VARIABLES    ///
///////////////////////

/*
1. Cards
2. Colors
3. radio-color
*/


/*1. Cards*/

$card-color: #fff;
$card-bookmark-color: #ADADAD;

/*2. Colors*/

$category-colors: #CC342D, #4b7d2f, #500752, #444444, #1BBC9B,
                  #F4D03F, #36C4D0, #FD5B03, #FF6B6E, #A2DED0,
                  #C86400, #8892BF;

/*3. Radio-Color*/

$check-color: #fff;
